[Unit]
Description=wlanwd access point
Requires=network-online.target
After=network-online.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/wlanwd enter-ap-mode
ExecStopPost=/usr/bin/wlanwd exit-ap-mode

