[Unit]
Description=wlanwd network watchdog
Requires=network-online.target
After=network-online.target
OnFailure=wlanwd-ap.service

[Service]
ExecStart=/usr/bin/wlanwd test

[Install]
WantedBy=multi-user.target

